@media screen and (min-width: 480px) {

    header .main-nav ul {
        column-gap: 8px;
    }

    #section1 .title p {
        font-size: 2rem;
    }

    #section1 .title .third {
        position: relative;
        left: 80px;
    }

    #section2 {
        margin-bottom: 150px;
    }

    #section3,
    #section4 {
        height: 680px;
    }

    #section3 .section__inner,
    #section4 .section__inner {
        width: 1220px;
        padding: 80px 0;
    }

    .clone-content {
        flex-direction: row;
        height: 70%;
    }

    #section4 .clone-content {
        flex-direction: row-reverse;
    }

    #section4 .clone-content__title {
        padding-left: 150px;
    }

    .clone-content__title {
        row-gap: 16px;
        flex: 1;
    }

    .clone-content__title h2 {
        font-size: 2.2rem;
    }

    .clone-content__title p {
        display: block;
    }

    .clone-content__image {
        margin-top: 0;
        flex: 1;
    }

    .mac-Image {
        width: 500px;
        height: 344px;
    }

    @keyframes spritmac {
        100% {
            background-position: -2505px;
        }
    }

    .mobile-Image {
        top: 70px;
        left: 440px;
        width: 140px;
        height: 280px;
    }

    .clone-list {
        height: 30%;
    }

    .clone-list ul {
        flex-direction: row;
        column-gap: 30px;
        width: 0;
    }

    .clone-list ul li a {
        row-gap: 0;
        width: 380px;
        height: 140px;
    }

    .clone-list ul li a h3 {
        font-size: 1.1rem;
    }

    .clone-list ul li a p {
        display: block;
    }

    #section5 .section__inner .coment p {
        font-size: 1.7rem;
    }

    .footer__inner {
        flex-direction: row;
    }

}

@media screen and (min-width: 768px) {

    header {
        padding: 0 30px;
    }

    header .main-nav ul {
        column-gap: 20px;
    }

    #section2 .section__inner {
        width: 768px;
    }

    .bg-gradient-b {
        left: 60%;
    }

    .skills__item-box {
        width: 50%;
        justify-content: space-around;
        column-gap: 0px;
    }

    #section5 .section__inner .coment p {
        font-size: 2rem;
    }

    .comment-front {
        position: relative;
        left: -50px;
    }

    .comment-back {
        position: relative;
        left: 50px;
    }

}

@media screen and (min-width: 1220px) {

    header {
        padding: 0 50px;
    }

    header .main-nav ul {
        column-gap: 30px;
    }

    #section2 {
        display: block;
    }

    #section2 .section__inner {
        width: 1220px;
    }

    .bg-gradient-b {
        left: 40%;
    }

    .bg-gradient-c {
        display: block;
    }

    .skills__item-box {
        width: 50%;
        justify-content: space-around;
        column-gap: 0px;
    }

    .section__content .skills__item {
        width: 200px;
        height: 300px;
        padding: 30px 20px;
    }

    .section__content .skills__item i {
        font-size: 4rem;
    }

    .section__content .skills__item h3 {
        font-size: 1rem;
        padding: 5px 0;
    }

    #section5 .section__inner .coment {
        flex-direction: row;
        column-gap: 10px;
    }

    .comment-front,
    .comment-back {
        position: static;
    }

}